<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451774464054-n1ovuphqg6d17ka1be4c17nutn50resj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451774464054-n1ovuphqg6d17ka1be4c17nutn50resj</string>
	<key>API_KEY</key>
	<string>AIzaSyCoedisFCwzo5B0D4tLTFd5P6SPxQAog-o</string>
	<key>GCM_SENDER_ID</key>
	<string>451774464054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-999</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451774464054:ios:0f781d2b9bd261768e5897</string>
</dict>
</plist>